*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/*Header Start*/
header{
	background-color: #121B2A;
	padding: 15px 0;
}
.container {
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
}
.logo {
	width: 15%;
	float: left;
}
.logo img {
	width: 100%;
}
.menu{
	width: 70%;
	float: right;
    }
.menu ul{		
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;

}

.menu ul li a{
	font-weight: 400;
	font-size: 18px;
	color: #FFFDFE;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 20px;
	margin-top: 38px;
	display: block;
	transition: 0.5s;

}
.menu ul li:last-child a{
	padding-right: 0;
}

.menu ul li a:hover{
	color: #0078BD;
}
/*Banner Start*/
.banner{
	background-image: url('../img/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.banner-content{
	margin: 250px 0 95px;
	width:47%;

}
.banner-content h3 {
	color: white;
	font-size: 32px;
	font-weight: 400;
	margin: 0 0 10px;
}
.banner-content h1{
	color: #0079BF;
	font-size: 40px;
	margin: 0 0 10px;
}
.banner-content p {
	color: white;
	line-height: 1.5;
}

button{
	width: 160px;
	height: 60px;
	font-size: 20px;
	color: #6F6F6F;
	margin-top: 20px;
	border-radius: 5px;
	background-color: #FFFEFF;
	text-transform: uppercase;
	border: 1px solid #626262;
	cursor: pointer;
	transition: .3s;
	}
button:hover {
	background-color: #0079BF;
	color: white;
}

button:focus {
    outline: 0;
}
/*Banner End*/

/*Service Start*/
.service {
	background-color: #121B2C;
	padding: 50px 0;
}

.single {
	width: 29%;
	padding: 15px 21px;
	float: left;
	border-right: 1px solid rgba(145, 149, 160, .1);
	margin-right: 10px;
}
.single:first-child {
	padding-left: 0;
}
.single:last-child {
	border-right: 0;
	padding-right: 0;
}
.title {
	overflow: hidden;
	margin-bottom:5px; 
}

.icon {
	width: 25%;
	float: left;
}
.icon img{
	width: 100%;
}
.icon-content {
	width: 65%;
	float: left;
	margin: 10px 0 0 5px;
}
.icon-content h1{
	color: white;
	text-transform: capitalize;
	font-size: 20px;
	font-weight: normal;
}
.icon-content h2{

	color: #0079BF;
	text-transform: capitalize;
	font-size: 22px;
}
.content p{
	color: white;
	line-height: 1.4;
}
/*Service End*/
/*About Start*/
.about {
	background-color: #040811;
}

.about-content {
	color:white;
	overflow: hidden;
	padding: 50px 0;
}
.about-item{
	width: 30%;
	float: left;
	padding: 0 20px;
	
}

.about-item.address-box {
	width: 27%;	
	margin-top: 15px;
}
.about-item span{
	color: #0079BF;
	text-transform: capitalize;
	font-size: 22px;
}
.address {
	padding: 10px 0;
}
table{
	width: 100%;
	margin-bottom: 15px;

}

.about-item .web{
	font-size: 14px;
	color: #fff;
	font-weight: 300;
	text-transform: capitalize;
	padding-right: 200px;
	padding-left: 20px;
	line-height: 22px;
	margin-top: 20px;
}

.about-item .talk-box{
	width: 90%;
  padding: 15px;
	background-color:#0C1019;
	border-radius: 5px;
	position: relative;
}
.about-item .talk-box p{
	font-size: 14px;
	color: #fff;
	font-weight: 300;
	text-transform: capitalize;
	line-height: 22px;
	margin-top: 10px;
}
.about-item .talk-box:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 65px solid transparent;
	border-top: 30px solid #0C1019;
	left: 228px;
	top: 98%;
}

.about-item-app{
	overflow: hidden;
}
.app-store{
	width: 85%;
	overflow: hidden;
	
}
.app-store .image{
	float: left;
}

.text{
	float: right;
}
.app-store .text h3{
	color: white;
}
.app-store .text h2{
	color: #0079BF;
	text-transform: capitalize;
	font-size: 22px;
}

.text .icon img{
	padding: 20px 0;
	width: 130px;
}

/*About End*/
/*Footer Start*/
footer{
	padding: 20px 0;
	background-color: #121B2C;
	overflow: hidden;
}
.copyright{
	width: 70%;
	float: left;
	padding-left: 2%;
}
 .copyright ul{
	list-style-type: none;
	margin-top: 25px;
}
.copyright ul li{
	display: inline;
}
.copyright ul li a{
	color: #fff;
	display: inline-block;
	text-transform: capitalize;
	text-decoration: none;
	padding: 0 10px;
	border-right: 1px solid #fff;
	transition: 0.5s ease;
}
.copyright ul li:first-child a{
	padding-left: 0;
}
.copyright ul li:last-child a{
	border-right: none;
}
.copyright ul li a:hover{
	color: #007AC4;
}
.copyright p {
	text-transform: capitalize;
	color: #fff;
	margin-top: 15px;
}
.footerimage{
	width: 27%;
	float: left;
}
.footerimage img{
	width: 100%;
}
/*Footer Start*/

	
	
